@using WordinOn.Models
@model Sala
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome do Estudante</th>
                <th>Email</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (Usuario item in (List<Usuario>)Model.Estudantes.Select(o => o.Estudante).ToList())
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="lnkExcEst" href="@Url.Action("ExcluirSalaXEst", "Professor", new { @estudante = item.Cod, @sala = Model.Cod })" onclick="if (!confirm('Deseja excluir este estudante?')) return false;">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color: #0094FF;"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>