@using WordinOn.Models
@model List<Professor>

<div class="row" style="border: 2px solid black">
    <div class="col-md-6">
        <div class="col-md-6">
            @Html.Label("lblNomeSala", "Nome da sala:", new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @Html.TextBox("txtNomeSala", string.Empty, new { @class = "form-control", @style = "border-color: black" })
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>