bin
bin/*
obj
obj/*
/WordinOn/.vs
/WordinOn/.vs/*
/WordinOn/WordinOn.WebUI/ApplicationInsights.config
/WordinOn/WordinOn.Models/WordinOn.Models.csproj.user
/WordinOn/WordinOn.DataAccess/WordinOn.DataAccess.csproj.user
/WordinOn/WordinOn.WebUI/WordinOn.WebUI.csproj.user
/WordinOn/WordinOn.WebUI/bin
/WordinOn/WordinOn.WebUI/bin/*
/WordinOn/WordinOn.WebUI/bin/Debug
/WordinOn/WordinOn.WebUI/bin/Debug/*.dll
/WordinOn/WordinOn.WebUI/bin/Release
/WordinOn/WordinOn.WebUI/obj
/WordinOn/WordinOn.WebUI/obj/*
/WordinOn/WordinOn.Models/bin
/WordinOn/WordinOn.Models/bin/*
/WordinOn/WordinOn.Models/obj
/WordinOn/WordinOn.Models/obj/*
/WordinOn/WordinOn.DataAccess/bin
/WordinOn/WordinOn.DataAccess/bin/Debug/*.dll
/WordinOn/WordinOn.DataAccess/bin/Debug/*.pdb
/WordinOn/WordinOn.DataAccess/bin/Release/*
/WordinOn/WordinOn.DataAccess/bin/Release/*.dll
/WordinOn/WordinOn.DataAccess/bin/Release/*.pdb
/WordinOn/WordinOn.DataAccess/obj
/WordinOn/WordinOn.DataAccess/obj/*
/WordinOn/WordinOn.WebUI/*.user
/WordinOn/WordinOn.Models/*.user
/WordinOn/WordinOn.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
WordinOn.DataAccess.csproj.user
*.user
.vs
WordinOn.Models.csproj.user
